.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  width: 100%;
  padding: 0;
  border-radius: 8px;
}

.mapboxgl-popup {
  width: 400px;
  max-width: inherit !important;
}
